.shotImageContainer {
    width: 85vw;
    height: 50vh;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .shotImageContainer {
        width: 41vh;
        height: 55vh;
    }
}

.shotImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.waitImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
