.toggle-container {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 14em;
  max-width: 100vw;
  margin: 0.3em;
  user-select: none;
}

.toggle-title {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 3.6em;
  height: 2em;
  cursor: pointer;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1em;
  background-color: #CCC;
  outline: none;
  transition: 400ms;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  width: 1.6em;
  height: 1.6em;
  left: 0.2em;
  top: 0.2em;
  border-radius: 50%;
  background-color: white;
  transition: transform 400ms;
}

.toggle-input:checked + .toggle-slider {
  background-color: #2FB9F1;
}

.toggle-input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translateX(1.6em);
}
