.statusBar {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: 1em;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0.2em;
    user-select: none;
}

.space {
    width: 0.2em;
    height: 100%;
}
