@keyframes openKeyframes {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.schedule {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule .scheduleContent {
    min-width: 96%;
    max-width: 100%;
    margin: auto;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #646767;
    box-sizing: border-box;
    border: #1f85a8 2px double;
    box-shadow: 1px 1px 5px 1px #333;

    transform-origin: center;
    animation: openKeyframes 200ms ease-in-out;
}
